@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome123678zxc111</h1>
    <h1 class="display-4">Welcome123678zxc234CICD</h1>
    <h1 class="display-4">WelcomeSGU</h1>
    <h1 class="display-4">WelcomeCICD</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
